@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.container {
    width: 100%; 
    min-height: 100vh; 
    background-color: #fff;
}
/* navBar */
.navBar {
    position: fixed;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: rgba( 255, 255, 255, 0.5 ); */
    z-index: 10;
}
.navBar a {
    color: #3d535f;
    
}
.navBar .logo {
    display: flex;
    font-size: 2.6em;
    font-weight: 800;
    letter-spacing: 3px; 
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #f5f5f5,
    1px 2px 1px #f5f5f5,
    1px 3px 1px #f5f5f5,
    1px 5px 5px rgba(3,3,3,0.2);
}
.navBar .nav-links ul {
    display: flex;
}
.navBar .nav-links ul li {
    margin: 0 25px;
}
.navBar .nav-links ul li a {
    font-size: 24px;
    font-weight: 600;
    padding: 6px 15px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.navBar .sns i {
    font-size: 36px;
    margin-left: 15px;
}
.navBar .menu-hamburger {
    font-size: 2em;
    display: none;
}
.navBar .nav-links ul li a:hover,
.navBar .sns i:hover,
.navBar .nav-links ul li.active a
{
    color: #A435F0;
    transition: 0.3s;
}
/* //navBar */

/* introduce */
#my-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
}
.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #A435F0, pink);
    animation: object1 6s linear infinite;
}
.wrapper::after {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    margin-top: 20px;
    background: linear-gradient(45deg, #A435F0, pink);
    animation: object2 6s linear infinite;
}
@keyframes object1 {
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2 {
    50%{
        left: 35%;
        top: 10%;
    }
}
.topLine {
    display: block;
    position: relative;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #3d535f;
}
.topLine::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #A435F0;
}
.animate-charcter
{
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  border-inline-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.3s linear infinite;
  font-size: 4em;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.wrapper .cols h1 {
    display: block;
    position: absolute;
    font-size: 2em;
    color:#3d535f;
}
.multiText {
    color: #A435F0;
    width: 100%;
}
/* //introduce */
.cover {
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    color: #f3f5f8;
    overflow: hidden;
}
.cover-1 {
    margin-top: 12vh;
    transform: rotate(-2deg);
    background-color: #A435F0;
}
.cover-2 {
    transform: rotate(2deg);
    background-color: #ffe566;
    color: #333;
    justify-content: flex-end;
}
.cover p {
    display: flex;
    padding: 3rem 0;
    font-size: 2.8rem;
}
/* About Section */
.sub_title {
    padding-top: 120px;
    margin-bottom: 120px;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
    text-align: center;
}
.string {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
.string h1 {
    font-family: JetBrains Mono, monospace;
}
  .greeting {
    top: 8.6vmin;
  }
  .en {
    color: #fa8231;
  }
  .es {
    color: white;
  }
  .de {
    color: #c678dd;
  }
  .it {
    color: #a9b0bd;
  }
.about {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #333;
}
.about h1 {
    padding: 150px 0 194px 0;
    font-size: 3.2em;
    font-weight: 600;
    display: block;
    text-align: center;
}
.about h1 span {
    padding: 0 5px 0 5px;
    color: #A435F0;
    font-family: JetBrains Mono, monospace;
    letter-spacing: 3px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content span {
    color: #A435F0;
}

.tooltip {
    position: relative;
    z-index: 1;
  }
.figma:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/figma.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.xd:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/xd.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}

.html:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/html.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.css:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/css.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.js:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/js.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.jquery:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/jquery.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.react:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/react.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.php:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/php.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.jsp:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 100px;
    background-image: url(/asset/img/jsp.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.spring:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/spring.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.boot:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 108px;
    background-image: url(/asset/img/boot.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.django:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/django.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.java:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/java.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.python:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/python.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.mariadb:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/mariadb.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.mysql:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/mysql.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.linux:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/linux.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.fz:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-image: url(/asset/img/fz.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
.aws:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 100px;
    background-image: url(/asset/img/aws.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    animation: object1 6s linear infinite;
}
#about .content .photo {
    width: 450px;
    height: 550px;
    margin-right: 100px;
    overflow: hidden;
    background-image: url(/asset/img/about_profile.jpg);
    background-position: center;
    background-size: cover;
}
#about .content .photo {
    transition: all 0.2s linear;
}
#about .content .photo:hover {
    transform: scale(1.2);
}
#about .content .about_txt .work {
    display: flex;
    font-size: 2.5em;
    padding-bottom: 10px;
    text-transform: capitalize
}
#about .content .about_txt .keywords {
    display: flex;
    color: #A435F0;
    font-size: 1.2em;
    padding-bottom: 10px;
}
#about .content .about_txt .me {
    font-size: 1.5em;
    line-height: 36px;
    padding-bottom: 10px;
}
#about .content .about_txt .contens {
    font-size: 1.3em;
    padding-bottom: 10px;
}
#about .content .about_txt .tool {
    font-size: 1.2em;
    padding-bottom: 10px;
}
#about .content .about_txt a {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .content .about_txt .tool h2 {
    color: #A435F0;
    margin-bottom: 5px;
}
#about .content .about_txt .tool ul {
    display: flex;
}
#about .content .about_txt .tool ul li{
    margin: 10px 5px;
    border: 1px solid #A435F0;
    color: #333;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;;
    cursor: default;
}
#about .content .about_txt .link {
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid #A435F0;
    border-radius: 10px;
    color: #A435F0;
    font-size: 1.2em;
    margin-top: 10px;
}
#about .content .about_txt .link:hover {
    background-color: #A435F0;
    color: #fff;
    transition: 0.5s;
}
#about .content .about_txt .git {
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid #3d535f;
    border-radius: 10px;
    color: #3d535f;
    font-size: 1.2em;
    margin: 10px 0 0 20px;
}
#about .content .about_txt .git:hover {
    background-color: #3d535f;
    color: #fff;
    transition: 0.5s;
}
#about .content .about_txt .notion {
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    color: #333;
    font-size: 1.2em;
    margin: 10px 0 0 20px;
}
#about .content .about_txt .notion:hover {
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
#about .content .about_txt .info {
    display: flex;
}
/* // About Section */

/* Project Section */

/* Project slider */
.slideshow {
    overflow: hidden;
}
.slideshow_slides {
    width: 300vw;
    transition: transform 0.5s;
}
.inner {
   overflow: hidden;
}
.slider {
    width: 300vw;
    transition: transform 0.5s;
}
.web {
    width: 100vw;
    float: left;
}
.btn {
    border: none;
    position: relative;
    background: none;
    font-size: 3em;
    cursor: pointer;
    margin-top: -384px;
    height: 100%;
}
.btn i {
    color: #000;
    opacity: 0.8;
}
.btn_prev {
    margin-left: 60px;
    float: left;
}
.btn_next {
    float: right;
    margin-right: 60px;
}
.indicator {
    text-align: center;
}
.indicator button {
    border: none;
    cursor: pointer;
}
.indicator .indi_bar {
    width: 70px;
    height: 10px;
    background: #ccc;
    border-radius: 15px;
    margin-right: 10px;
}
.indicator .active {
    background: #333;
}
/* // Project slider */
.project .title_project {
    margin-top: 170px;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
    text-align: center;
}
#project .project {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #333;
}
#project .project h1 {
    /* padding: 90px 0; */
    font-size: 3.2em;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 200px;
}
#project .project h1 span {
    padding: 0 5px 0 5px;
    color: #A435F0;
    font-family: JetBrains Mono, monospace;
    letter-spacing: 3px;
}
#project .project .web {
    display: flex;
    justify-content: center;
    align-items: center;
}
#project .project .web h1 {
    font-size: 1.8em;
    color: #A435F0;
    padding-bottom: 10px;
    text-align: left;
}
#project .project .web img {
    opacity: 1;
}
#project .project .web img {
    transition: all 0.2s linear;
}
#project .project .web img:hover {
    transform: scale(1.1);
}
.animate {
    animation: fadeIn 1s forwards ease-in;
    transition: 2s ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

#project .project .web .content-left {
    opacity: 1;
}
#project .project .web .content-left .tit {
    font-size: 2rem;
    font-weight: 600;
    /* color: #F8733F; */
    text-transform: capitalize;
    padding-bottom: px;
}
#project .project .web .content-left dt {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 3px;
}
#project .project .web .content-left dd {
    padding-bottom: 20px;
}

#project .project .web .content-left ul {
    display: flex;
    padding-bottom: 10px;
}
#project .project .web .content-left ul li{
    margin: 10px 5px;
    border: 1px solid #333;
    color: #333;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;;
}
#project .project .web .content-left .link {
    display: flex;
}
#project .project .web .content-left .link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    font-size: 1em;
    margin: 20px 5px;
    border: 1px solid #A435F0;
    color: #A435F0;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
#project .project .web .content-left .link a:hover {
    background-color: #A435F0;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .content-left .link .pdf {
    border: 1px solid red;
    color: red;
}
#project .project .web .content-left .link .pdf:hover {
    background-color: red;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .content-left .link .project-git {
    border: 1px solid #3d535f;
    color: #3d535f;
}
#project .project .web .content-left .link .project-git:hover {
    background-color: #3d535f;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .content-left .link .demo-site {
    border: 1px solid #333;
    color: #333;
}
#project .project .web .content-left .link .demo-site:hover {
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .img {
    padding-left: 100px;
    margin-top: 250px;
}
#project .project .web .img3 {
    margin-left: 50px;
}
.btns  {
    position: fixed;
    float: right;
    font-size: 3em;
    right: .5rem;
    bottom: .5rem;
    margin: 0 30px 30px 0;
    color: #3d535f;
    z-index: 5;
  }
.btns i:hover  {
    color: #ffe566;
    transition: 0.8s;
    cursor: pointer;
}
.btns a {
    text-decoration: none;
    color: #3d535f;
}
.footer__copyright__text {
    margin-top: 100px;
    padding: 50px 0 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
}
/* // Project Section */

/* contact Section */
.contact .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .content h2 {
    margin-top: 220px;
    margin-bottom: 50px;
    font-size: 1.8em;
}
.contact .content span {
    font-size: 1.2em;
}
.contact .address {
   display: block;
   text-align: center;
   margin-top: 20px;
}
.contact .address a {
    text-decoration: none;
    text-align: center;
    color: #333;
    line-height: 40px;
    font-size: 1.1em;
}
.contact .address i {
    font-size: 1.3em;
}
.contact .address p {
    margin-top: 30px;
    font-size: 1.1em;
}
.contact .contact-img {
    margin: 180px 0 0 100px;
}
.contact .contact-mobile-img {
    display: none;
}
.contact .contact-img {
    transition: all 0.2s linear;
}
.contact .contact-img:hover {
    transform: scale(1.1);
}
/* text bounding */
.waviy {
    padding: 10px 0 10px 0;
}
.waviy span {
    position: relative;
    display: inline-block;
    animation: waviy 2.2s infinite;
    /* css variable */
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translatey(-20px);
    }
}
.contact_title {
    padding-top: 200px;
    padding-bottom: 30px;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
    text-align: center;
}

/* // text bounding */

/* // contact Section */

/* responsive */
@media screen and (max-width: 1580px) {
    .wrapper::before {
        height: 500px;
        width: 500px;
    }
    .wrapper::after {
        height: 120px;
        width: 120px;
    }
    .cover p {
        padding: 2rem 0;
        font-size: 2rem;
    }
    .mobile-body {
        overflow: hidden;
    }
    .navBar .menu-hamburger {
        font-size: 2em;
        display: block;
        pointer-events: click;
        cursor: pointer;
        z-index: 10;
    }
    .navBar .sns i{
        display: none;
    }
    .mobile-hamburger {
        transition: all 0.5s ease;
        color: #f3f5f8;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        /* background-color: rgba(255, 255, 255, 0.20); */
        /* background-filter: blur(3px); */
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-left: 0;
        background-color: #333;
        z-index: 8;
    }
    .mobile-menu ul li a{
        color: #fff
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navBar .nav-links ul li {
        margin: 25px 0;
    }
    .navBar .nav-links ul li a {
        font-size: 1.5em;
    }
    .cols {
        padding-right: 70px;
    }
    .topLine {
        font-size: 1.8em;
    }
    .wrapper .cols h1 {
        font-size: 1.6em;
    }
    .btns  {
        font-size: 2.4em;
      }
    /* About Section */
    .about h1 {
        padding: 50px 0 50px 0;
     }
    #about .about .modile-profile {
        width: 440px;
        height: 550px;
        margin: auto;
        overflow: hidden;
        background-image: url(/asset/img/about_profile.jpg);
        background-position: center;
        background-size: cover;
    }
    #about .content .photo {
        display: none;
    }
    #about .content .about_txt .work {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 10px 0 10px 0;
        text-transform: capitalize
    }
    #about .content .about_txt .keywords {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #A435F0;
        font-size: 1.2em;
        padding-bottom: 10px;
    }
    #about .content .about_txt .me {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        line-height: 36px;
        padding-bottom: 10px;
    }
    #about .content .about_txt .contens {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 0.95em;
        padding-bottom: 10px;
    }
    #about .content .about_txt .tool {
        font-size: 0.75em;
        padding-bottom: 10px;
        text-align: center;
        margin: auto;

    }
    #about .content .about_txt .tool h2 {
        color: #A435F0;
        margin: 0 0 5px 10px;
    }
    #about .content .about_txt .tool ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about .content .about_txt .tool ul li{
        border-radius: 6px;
    }
    #about .content .about_txt .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about .content .about_txt .link {
        width: 126px;
        height: 50px;
        border: 1px solid #A435F0;
        border-radius: 10px;
        color: #A435F0;
        font-size: 1em;
    }
    #about .content .about_txt .git {
        width: 126px;
        height: 50px;
        border: 1px solid #3d535f;
        border-radius: 10px;
        color: #3d535f;
        font-size: 1em;
    }
    #about .content .about_txt .notion {
        width: 126px;
        height: 50px;
        border: 1px solid #333f;
        border-radius: 10px;
        color: #333;
        font-size: 1em;
    }
    /* Project Section */
    .btn {
        font-size: 3em;
        margin-top: -1360px;
    }
   .indicator {
        display:none;
   }
   .project .title_project {
     margin-bottom: 50px;
    }
    #project .project .h1 {
        /* padding: 400px 0; */
        padding-top: 50px;
    }
    #project .project .web .img {
        display: none;
    }
    #project .project .moblie-project1 {
        max-width: 100%;
        width: 700px;
        height: 420px;
        margin: auto;
        margin-top: 70px;
        overflow: hidden;
        background-image: url(/asset/img/project_1.png);
        background-position: center;
        background-size: cover;
    }
    #project .project .moblie-project2 {
        max-width: 100%;
        width: 700px;
        height: 420px;
        margin: auto;
        margin-top: 70px;
        overflow: hidden;
        background-image: url(/asset/img/project_2.png);
        background-position: center;
        background-size: cover;
    }
    #project .project .moblie-project3 {
        max-width: 100%;
        width: 700px;
        height: 420px;
        margin: auto;
        margin-top: 70px;
        overflow: hidden;
        background-image: url(/asset/img/project_3.png);
        background-position: center;
        background-size: cover;
    }
    #project .project h1 {
        margin-top: 50px
    }
    #project .project .content-left {
        text-align: center;
        margin-bottom: 50px;
    }
    #project .project .web h1 {
        font-size: 1.8em;
        padding-bottom: 10px;
        text-align: center;
    }
    #project .project .web .content-left ul {
        display: block;
        margin: auto;
        width: 30%;
    }
    #project .project .web .content-left dd {
        font-size: 0.9em;
        padding-bottom: 20px;
    }
    #project .project .web .content-left .link {
        display: block;
        margin-left: 260px;
    } 
    #project .project .web3 .content-left {
       padding-left: 0;
    }
    #contact .contact .content h2 {
        font-size: 1.5em;
    }
    #contact .contact .content h2 {
        font-size: 1.1em;
        margin-left: 30px;
    }
    #contact .contact .contact-img img{
        width: 500px;
        height: 300px;
    }
    #contact .contact .address a,
    #contact .contact .address p {
        font-size: 1em;
    }
    #contact .sub_title h1 {
        margin-top: 300px;
    }
    .contact_title {
        padding-top: 100px;
    }
}
@media screen and (max-width: 1050px) {
    .cover p {
        padding: 1.5rem 0;
        font-size: 1.5rem;
    }
    .btns  {
        font-size: 2.4em;
      }
    .btn {
        font-size: 3em;
        margin-top: -1270px;
    }
    .contact_title {
        margin-bottom: 100px;
    }
    .about h1 {
        font-size: 2em;
    }
    #project .project h1 {
        font-size: 2em;
    }
    #project .project .moblie-project1 {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    #project .project .moblie-project2 {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    #project .project .moblie-project3 {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    #project .project .web .content-left ul {
        display: block;
        margin: auto;
        width: 45%;
    }
    #project .project .web .content-left .link {
        display: block;
        margin-left: 138px;
    } 
    #project .project .web1 .content-left .link  {
        margin-left: 138px;
    }
    #project .project .web3 .content-left .link  {
        margin-left: 138px;
    }
    .contact .content {
        display: block;
        text-align: center;
    }
    #contact .contact .address a,
    #contact .contact .address p {
        font-size: 0.9em;
    }
    .contact .contact-img img {
       display: none;
    }
    .contact .contact-mobile-img {
        display: block;
        text-align: center;
    }
    .contact .contact-mobile-img img {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    .contact .content h2 {
        margin: 50px 0 0 0;
    }
    .wrapper .cols h1 {
        font-size: 1.4em;
    }
    
    #project .project .web .content-left dd {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 700px) {
    .about h1 {
        font-size: 1.4em;
    }
    #project .project h1 {
        font-size: 1.4em;
    }
    .btn {
        font-size: 2.8em;
    }
    .btn i {
        color: #000;
        opacity: 0.8;
    }
    .btn_prev {
        margin-left: 30px;
    }
    .btn_next {
        margin-right: 15px;
    }
    .wrapper .cols h1 {
        font-size: 1.2em;
    }
    .wrapper::before {
        height: 400px;
        width: 400px;
    }
    .wrapper::after {
        height: 100px;
        width: 100px;
    }
    .sub_title {
        padding-top: 0;
        margin-bottom: 80px;
    }
    .project .title_project {
        margin-top: 140px;
    } 
    .contact_title {
        padding-top: 0;
    }
}