@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.container {
    width: 100%; 
    min-height: 100vh; 
    background-color: #fff;
}
/* navBar */
.navBar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navBar a {
    color: #3d535f;
    
}
.navBar .logo {
    display: flex;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 3px; 
    cursor: pointer;
    text-transform: uppercase;
}
.navBar .nav-links ul {
    display: flex;
}
.navBar .nav-links ul li {
    margin: 0 25px;
}
.navBar .nav-links ul li a {
    font-size: 24px;
    font-weight: 600;
    padding: 6px 15px;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.navBar .sns i {
    font-size: 28px;
    margin-left: 15px;
}
.navBar .menu-hamburger {
    font-size: 2em;
    display: none;
}
.navBar .nav-links ul li a:hover,
.navBar .sns i:hover,
.navBar .nav-links ul li.active a
{
    color: #A435F0;
    transition: 0.3s;
}
/* //navBar */

/* introduce */
.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #A435F0, pink);
    animation: object1 6s linear infinite;
}
.wrapper::after {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #A435F0, pink);
    animation: object2 6s linear infinite;
}
@keyframes object1 {
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2 {
    50%{
        left: 35%;
        top: 10%;
    }
}
.topLine {
    display: block;
    position: relative;
    font-size: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #3d535f;
}
.topLine::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #A435F0;
}
.wrapper .cols h1 {
    display: block;
    position: absolute;
    font-size: 3em;
    font-weight: 900;
    color:#3d535f;
}
.multiText {
    color: #A435F0;
    width: 100%;
}
/* //introduce */

/* About Section */
.about {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #333;
}
.about h1 {
    padding: 150px 0 194px 0;
    font-size: 3.5em;
    font-weight: 600;
    display: block;
    text-align: center;
}
.about h1 span {
    padding: 0 5px 0 5px;
    color: #A435F0;
    text-transform: capitalize;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .content .photo {
    width: 450px;
    height: 550px;
    margin-right: 100px;
    overflow: hidden;
    background-image: url(/asset/img/image_1.png);
    background-position: center;
    background-size: cover;
}

#about .content .about_txt .work {
    display: flex;
    font-size: 2.5em;
    padding-bottom: 10px;
    text-transform: capitalize
}
#about .content .about_txt .keywords {
    display: flex;
    color: #A435F0;
    font-size: 1.2em;
    padding-bottom: 10px;
}
#about .content .about_txt .me {
    font-size: 1.5em;
    line-height: 36px;
    padding-bottom: 10px;
}
#about .content .about_txt .contens {
    font-size: 1.3em;
    padding-bottom: 10px;
}
#about .content .about_txt .tool {
    font-size: 1.2em;
    padding-bottom: 10px;
}
#about .content .about_txt a {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .content .about_txt .tool h2 {
    color: #A435F0;
    margin-bottom: 5px;
}
#about .content .about_txt .tool ul {
    display: flex;
}
#about .content .about_txt .tool ul li{
    margin: 10px 5px;
    border: 1px solid #A435F0;
    color: #333;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;;
}
#about .content .about_txt .link {
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid #A435F0;
    border-radius: 10px;
    color: #A435F0;
    font-size: 1.2em;
    margin-top: 10px;
}
#about .content .about_txt .link:hover {
    background-color: #A435F0;
    color: #fff;
    transition: 0.5s;
}
#about .content .about_txt .git {
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid #3d535f;
    border-radius: 10px;
    color: #3d535f;
    font-size: 1.2em;
    margin: 10px 0 0 20px;
}
#about .content .about_txt .git:hover {
    background-color: #3d535f;
    color: #fff;
    transition: 0.5s;
}
#about .content .about_txt .notion {
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    color: #333;
    font-size: 1.2em;
    margin: 10px 0 0 20px;
}
#about .content .about_txt .notion:hover {
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
#about .content .about_txt .info {
    display: flex;
}
/* // About Section */

/* Project Section */
#project .project {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #333;
}
#project .project h1 {
    /* padding: 90px 0; */
    font-size: 3.5em;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 300px
}
#project .project h1 span {
    padding: 0 5px 0 5px;
    color: #A435F0;
    text-transform: capitalize;
}
#project .project .web {
    display: flex;
    justify-content: center;
    align-items: center;
}
#project .project .web h1 {
    font-size: 1.8em;
    color: #A435F0;
    padding-bottom: 10px;
    text-align: left;
}

#project .project .web .content-left .tit {
    font-size: 2rem;
    font-weight: 600;
    /* color: #F8733F; */
    text-transform: capitalize;
    padding-bottom: px;
}
#project .project .web .content-left dt {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 3px;
}
#project .project .web .content-left dd {
    padding-bottom: 20px;
}

#project .project .web .content-left ul {
    display: flex;
    padding-bottom: 10px;
}
#project .project .web .content-left ul li{
    margin: 10px 5px;
    border: 1px solid #333;
    color: #333;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;;
}
#project .project .web .content-left .link {
    display: flex;
}
#project .project .web .content-left .link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    font-size: 1em;
    margin: 20px 5px;
    border: 1px solid #A435F0;
    color: #A435F0;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
#project .project .web .content-left .link a:hover {
    background-color: #A435F0;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .content-left .link .pdf {
    border: 1px solid red;
    color: red;
}
#project .project .web .content-left .link .pdf:hover {
    background-color: red;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .content-left .link .project-git {
    border: 1px solid #3d535f;
    color: #3d535f;
}
#project .project .web .content-left .link .project-git:hover {
    background-color: #3d535f;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .content-left .link .demo-site {
    border: 1px solid #333;
    color: #333;
}
#project .project .web .content-left .link .demo-site:hover {
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}
#project .project .web .img {
    padding-left: 100px;
    margin-top: 250px;
}
#project .project .web .img3 {
    margin-left: 50px;
}
.footer__copyright__text {
    margin-top: 100px;
    padding: 50px 0 50px 0;
    background: #333;
    color: #fff;
    text-align: center;
}
/* // Project Section */

/* contact Section */
.contact .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .content h2 {
    margin-top: 220px;
    margin-bottom: 50px;
    font-size: 1.8em;
}
.contact .address {
   display: block;
   text-align: center;
   margin-top: 20px;
}
.contact .address a {
    text-decoration: none;
    text-align: center;
    color: #333;
    line-height: 40px;
    font-size: 1.1em;
}
.contact .address i {
    font-size: 1.3em;
}
.contact .address p {
    margin-top: 30px;
    font-size: 1.1em;
}
.contact .contact-img {
    margin: 180px 0 0 100px;
}
/* // contact Section */
/* responsive */
@media screen and (max-width: 1580px) {
    .mobile-body {
        overflow: hidden;
    }
    .navBar .menu-hamburger {
        font-size: 2em;
        display: block;
        pointer-events: click;
        cursor: pointer;
        z-index: 10;
    }
    .navBar .sns i{
        display: none;
    }
    .mobile-hamburger {
        transition: all 0.5s ease;
        color: #f3f5f8;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        /* background-color: rgba(255, 255, 255, 0.20); */
        /* background-filter: blur(3px); */
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-left: 0;
        background-color: #333;
        z-index: 5;
    }
    .mobile-menu ul li a{
        color: #fff
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navBar .nav-links ul li {
        margin: 25px 0;
    }
    .navBar .nav-links ul li a {
        font-size: 1.5em;
    }
    .cols {
        padding-right: 70px;
    }
    .topLine {
        font-size: 1.8em;
    }
    .wrapper .cols h1 {
        font-size: 1.8em;
    }
    /* About Section */
    .about h1 {
        padding: 150px 0 30px 0;
     }
    #about .about .modile-profile {
        width: 440px;
        height: 550px;
        margin: auto;
        overflow: hidden;
        background-image: url(/asset/img/image_1.png);
        background-position: center;
        background-size: cover;
    }
    #about .content .photo {
        display: none;
    }
    #about .content .about_txt .work {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 10px 0 10px 0;
        text-transform: capitalize
    }
    #about .content .about_txt .keywords {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #A435F0;
        font-size: 1.2em;
        padding-bottom: 10px;
    }
    #about .content .about_txt .me {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        line-height: 36px;
        padding-bottom: 10px;
    }
    #about .content .about_txt .contens {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 1.05em;
        padding-bottom: 10px;
    }
    #about .content .about_txt .tool {
        font-size: 0.8em;
        padding-bottom: 10px;
        text-align: center;
        margin: auto;

    }
    #about .content .about_txt .tool h2 {
        color: #A435F0;
        margin: 0 0 5px 10px;
    }
    #about .content .about_txt .tool ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about .content .about_txt .tool ul li{
        border-radius: 6px;
    }
    #about .content .about_txt .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about .content .about_txt .link {
        width: 126px;
        height: 50px;
        border: 1px solid #A435F0;
        border-radius: 10px;
        color: #A435F0;
        font-size: 1em;
    }
    #about .content .about_txt .git {
        width: 126px;
        height: 50px;
        border: 1px solid #3d535f;
        border-radius: 10px;
        color: #3d535f;
        font-size: 1em;
    }
    #about .content .about_txt .notion {
        width: 126px;
        height: 50px;
        border: 1px solid #333f;
        border-radius: 10px;
        color: #333;
        font-size: 1em;
    }
    /* Project Section */
    #project .project .h1 {
        /* padding: 400px 0; */
        padding-top: 100px;
    }
    #project .project .web .img {
        display: none;
    }
    #project .project .moblie-project1 {
        max-width: 100%;
        width: 700px;
        height: 420px;
        margin: auto;
        margin-top: 70px;
        overflow: hidden;
        background-image: url(/asset/img/project_1.png);
        background-position: center;
        background-size: cover;
    }
    #project .project .moblie-project2 {
        max-width: 100%;
        width: 700px;
        height: 420px;
        margin: auto;
        margin-top: 70px;
        overflow: hidden;
        background-image: url(/asset/img/project_2.png);
        background-position: center;
        background-size: cover;
    }
    #project .project .moblie-project3 {
        max-width: 100%;
        width: 700px;
        height: 420px;
        margin: auto;
        margin-top: 30px;
        overflow: hidden;
        background-image: url(/asset/img/project_3.png);
        background-position: center;
        background-size: cover;
    }
    #project .project h1 {
        margin-top: 50px
    }
    #project .project .content-left {
        text-align: center;
        margin-bottom: 50px;
    }
    #project .project .web h1 {
        font-size: 1.8em;
        padding-bottom: 10px;
        text-align: center;
    }
    #project .project .web .content-left ul {
        display: block;
        margin: auto;
        width: 30%;
    }
    #project .project .web .content-left dd {
        font-size: 0.9em;
        padding-bottom: 20px;
    }
    #project .project .web .content-left .link {
        display: block;
        margin-left: 260px;
    } 
    #project .project .web3 .content-left {
       padding-left: 0;
    }
}
@media screen and (max-width: 800px) {
    #project .project .moblie-project1 {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    #project .project .moblie-project2 {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    #project .project .moblie-project3 {
        max-width: 100%;
        width: 454px;
        height: 270px;
        object-fit: cover;
    }
    #project .project .web .content-left ul {
        display: block;
        margin: auto;
        width: 45%;
    }
    #project .project .web .content-left .link {
        display: block;
        margin-left: 150px;
    } 
}